@model List<PortfolioProjectNight.Models.Contact>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

@{string renk = ""; }

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Durum</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        if (item.CategoryId == 1)
        {
            renk = "badge bg-primary";
        }
        else if (item.CategoryId == 2)
        {
            renk = "badge bg-info";
        }
        else if (item.CategoryId == 3)
        {
            renk = "badge bg-success";
        }
        else if (item.CategoryId == 4)
        {
            renk = "badge bg-warning";
        }
        else if (item.CategoryId == 5)
        {
            renk = "badge bg-warning";
        }
        else if (item.CategoryId == 6)
        {
            renk = "badge bg-success";
        }
        else if (item.CategoryId == 7)
        {
            renk = "badge bg-info";
        }
        else if (item.CategoryId == 8)
        {
            renk = "badge bg-info";
        }
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.SendDate</td>
            <td><span class="@renk">@item.Subject</span></td>

            @if (@item.IsRead == false)
            {
                <td><a href="/Message/changeMessageStatusToTrue/@item.ContactId" class="btn-sm btn-dark">Okunmadı</a></td>
            }
            else
            {
                <td><a href="/Message/changeMessageStatusToFalse/@item.ContactId" class="btn-sm btn-info">Okundu</a></td>
            }

            <td>
                <a href="/Message/openDetailMessage/@item.ContactId" class="btn-sm btn-warning">Mesajı Aç</a>
                <a href="/Message/deleteMessage/@item.ContactId" class="btn-sm btn-danger">Mesajı Sil</a>
            </td>
        </tr>

    }
</table>
